* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
}

.nav {
    padding: 20px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.info-container {
    padding: 20px;
}

#backBtn {
    padding: 5px 10px;
    margin-bottom: 2vh;
}

.county-detail {
    display: flex;
    gap: 4%;
    align-items: center;
    justify-content: center;
}

.county-detail .c-img {
    max-width: 320px;
}

.county-detail .c-img img {
    width: 100%;
}

.county-detail .c-detal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dark {
    background-color: black;
    color: white;
}

.border {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.border button {
    padding: 5px 10px;
    border-radius: 5px;
}

@media(max-width:768px) {
    .county-detail {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info-container {
        padding: 10px;
    }

    .border {
        gap: 7px;
    }

    #backBtn {
        padding: 2px 2px;
        font-size: 15px;
    }

    .border button {
        padding: 3px 5px;
        border-radius: 6px;
    }
}

@media (max-width:550px) {

    .left h2,
    .right p {
        font-size: 15px;
    }

    .nav {
        padding: 0;
        height: 6vh;
    }
}